<html>
  <head>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <section class ="Header">
      <a class="Header-title"href="/" >The Todo Manager</a>
    </section>
    <main class="HomePage_main">
      <article>
        <section class ="Section">
          <h2 class="Section_Title">New to the Todo Manager?</h2>
          <div>
            <a class="Section_Link"href="users/new" >Sign-up for a new account</a>
          </div>
        </section>
        <section class ="Section">
          <h2 class="Section_Title">Already have a account?</h2>
          <div>
            <a class="Section_Link"href=<%= new_signin_path %>  >Sign-in</a>
          </div>
        </section>
      </article>
    </main>

  </body>
</html>
