body{
  font-family: Open Sans, sans-serif;
  max-width: 460px;
  margin: 0 auto;
  margin-top: 60px;
  line-height: 1.4;
}

.error_message{
  color: red;
}
.success_message{
  color: green;
}
/*Headers */
.Header{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  margin-bottom: 24px;
  padding-bottom: 8px;
}

.Header-title, .Header-signout{
  display: block;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.2;
  color:gray;
}
.Header-title:hover{
  color: black;
}
.Header-signout:hover{
  color : rgb(112, 12, 112);
  cursor: pointer;
}

/* Todo Page - CSS */
.TodoPage-main, .HomePage_main{
  margin: 20px auto;
  font-family: sans-serif;
  color :#453C52;
}
.TodoPage-Title, .HomePage-Title{
  font-size: 20px;
}
.Todo-add{
  margin: 20px 0;
}

.Todo-add > .todo_text, .Section > .input_box > .input_text{
  padding: 3px 10px;
  width: 190px;
  height: 23px;
  border-color: #BFB8CC ;
  border-radius: 4px;
}
.Todo-add > .due_date{
  padding: 3px;
  width: 93px;
  height: 23px;
  border-color: #BFB8CC ;
  border-radius: 4px;
}
.Todo-add > button, .Section > button{
  padding: 3px;
  height: 32px;
  width: 72px;
  border: 0px;
  margin: 0;
  background-color: #48BB78;
  color : white;
  border-radius: 4px;
  cursor: pointer;
}
.Todo-subtitle{
  font-size: 14px;
  margin: 5px 0;
}
.Todo-Task{
  display: flex;
  align-items: center;
  padding: 2px;
  height: 26px;
  gap: 10px;
  border-radius: 5px;
}
.Todo-Task > i{
  cursor: pointer;
  visibility: hidden;
}
.Todo-Task:hover {
  background-color : #F1EDF7;
  transition: all .2s;
}
.Todo-Task:hover i{visibility: visible; transition: all .2s;}

.todo-text{
  font-size: 14px ;

}
.todo-text-strike{
  text-decoration: line-through;
  font-size: 14px ;
}


/* Home Page - CSS */

.Section_Title{
  color: #453C52;
  font-size: 14px;
  font-weight: 600;
  margin-right: 8px;
  line-height: 1.4;
}
.Section_Link{
  font-size: 14px;
}

.input_box{
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}
.input_box-label{
  font-size: 12px;
  margin: 5px 0;
}
