<html>
  <head>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <main class="TodoPage-main">
      <article>
        <h1 class ="TodoPage-Title">My Todo-List</h1>
        <section class="Todo-add">
          <input type ="text" placeholder="What's next?"/>
          <input type="date" />
          <button>Add</button>
        </section>
        <section class="Todo-section">
          <h3 class="Todo-subtitle">Due Today</h3>
          <div class="Todo-Task">
            <input type="checkbox"/>
            <p class ="todo-text">Submit Tax</p>
            <i class="fa fa-trash"></i>
          </div>
          <div class="Todo-Task">
            <input type="checkbox"/>
            <p class ="todo-text">Calculate Tax</p>
            <i class="fa fa-trash"></i>
          </div>
          <div class="Todo-Task">
            <input type="checkbox"/>
            <p class ="todo-text">Learn ruby on the freshworks platform</p>
            <i class="w3-tiny fa fa-trash  "></i>
          </div>
        </section>
      </article>
    </main>

  </body>
</html>
